# Copy this content into .env.local

NEXT_PUBLIC_COUNTRY_CITY_API_KEY=a3pvQzNlc3dSa1l4RVlzVEhtNGh0U1dUWG5rOGNIazNybjlzVVhtYg==
TOKEN_SECRET=e6a578759b1ec49cea354bf497f032d5cb2b59364067116707b8e08667a1a87b