:root {
    --color-black: #030202;
    --color-white: #fbfafa;
    --color-green: #06926a;
    --color-yellow: #f3c404;
    --color-critical: #f06071;

    --color-green-light: #37a787;
    --color-green-lighter: #50b296;
    --color-green-lightest: #82c8b4;

    --font-size-caption: 14.4px;
    --font-size-body: 18px;
    --font-size-h6: 18px;
    --font-size-h5: 22.5px;
    --font-size-h4: 28.125px;
    --font-size-h3: 35.156px;
    --font-size-h2: 43.945px;
    --font-size-h1: 54.932px;

    --line-height-body: 1.65;
    --line-height-heading: 1.15;

    --z-index-input-label: 1;
    --z-index-input-text: 2;
    --z-index-select-content: 3;

    --heigh-input: 50px;

    --padding-input: 8px 12px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-black);
    line-height: var(--line-height-body);
    font-family: var(--font-family-body);
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: var(--line-height-heading);
    font-family: var(--font-family-heading);
    color: var(--color-white);
    font-weight: 400;
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: var(--font-size-h4);
}

h5 {
    font-size: var(--font-size-h5);
}

h6 {
    font-size: var(--font-size-h6);
}

p,
span {
    line-height: var(--line-height-body);
    font-size: var(--font-size-body);
    font-family: var(--font-family-body);
    color: var(--color-white);
}

input {
    all: unset;
    color: var(--color-white);
    font-size: var(--font-size-body);
}

button {
    all: unset;
    font-size: var(--font-size-body);
}

.text-small {
    font-size: var(--font-size-caption);
}

.text-green {
    color: var(--color-green);
}

.text-yellow {
    color: var(--color-yellow);
}

.text-black {
    color: var(--color-black);
}
