.active-caption {
    animation: color-swap 2s linear infinite;
}

@keyframes color-swap {
    0%,
    100% {
        color: var(--color-white);
    }
    50% {
        color: var(--color-yellow);
    }
}
