.active-caption {
    animation: props-swap 2s linear infinite;
}

@keyframes props-swap {
    0%,
    100% {
        color: var(--color-white);
        transform: scale(1);
    }
    50% {
        color: var(--color-yellow);
        transform: scale(1.2);
    }
}
